html {
    scroll-behavior: smooth;
}
body {
    font-family: Helvetica;
}

img {
    max-width: 100%;
}

/* Header */
.ins-header {
    box-shadow: 0 10px 24px rgba(0,0,0,0.05);
    padding: 15px 0;
    background-color: #fff;
}

/* Button */
.ins-btn {
    background-color: #7F6AEE;
    border-color: #7F6AEE;
    padding: 5px 25px;
    border-radius: 2px;
}


/* Title */
.ins-title {
    font-size: 44px;
    font-weight: bold;
}

/* Sub Title  */
.ins-subtitle {
    font-weight: bold;
    font-size: 32px;
}

/* Small Title  */
.ins-small-title {
    font-weight: bold;
    font-size: 16px;
}

/* Text */
.ins-text {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1.5;
}

/* Footer */
.ins-footer-top {
    padding: 40px 0;
}
.ins-card-img img {
    height: 43px;
}
.ins-copyright-footer {
    padding: 15px 0;
    font-size: 14px;
    background-color: #fff;
}
.ins-footer-menu a {
    color: #101727;
    text-decoration: none;
}
.ins-social-links a {
    color: rgb(16, 23, 39, 0.5);
}

/* Shape */
.ins-bg-shape {
    background-image: url(../img/bg-shape.svg);
    background-repeat: no-repeat;
    background-position: 750px -100px;
    background-size: contain;
 }

/* Contact Form  */
.ins-contact-form {
    box-shadow: 0 6px 10px 0 rgba(131, 134, 163, 0.12);
}
.ins-contact-form input, .ins-contact-form textarea, .ins-contact-form .custom-file-label {
    border-radius: 2px;
    box-shadow: 0 6px 10px 0 rgba(131, 134, 163, 0.12);
    border: solid 1px #e0e3e7;
    font-size: 14px;
}
.ins-contact-form input, 
.ins-contact-form .custom-file-label,
.ins-contact-form .ins-btn {
    height: 50px;
}
.ins-contact-form .ins-btn {
    border: 1px solid #E0E3E7;
}


/* Are You */
.ins-info-card {
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(131, 134, 163, 0.12);
}
.ins-info-card p {
    margin-bottom: 0;
}


/* Vertical Separator  */
.ins-ver-separator {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}
.ins-ver-separator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px dashed #707070;
    height: 100%;
    z-index: -1;
}


/* Timeline */
.ins-timeline-wrap {
    padding-bottom: 0;
}
.ins-timeline-item {
    background-color: #fff;
    padding: 15px 0;
    margin-bottom: 150px;
}
.ins-timeline-item:last-child {
    margin-bottom: 0;
}
.ins-timeline-img {
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(131, 134, 163, 0.12);
    width: 200px;
    height: 200px;
    margin-bottom: 0;
}
.ins-timeline-counter {
    font-size: 85px;
    font-weight: 700;
    color: rgba(16, 23, 39, 0.1);
    line-height: 70px;
}
.ins-timeline-content-box {
    padding: 12px 0;
}
.ins-timeline-content-box p {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 0;
}

/* Thank you Page  */
.ins-full-screen {
    height: calc(100vh - 76.45px);
}
.ins-thankyou-box {
    position: relative;
    padding: 50px 100px;
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(131, 134, 163, 0.12);
    text-align: center;
}
.ins-thankyou-box::before {
    content: '';
    position: absolute;
    bottom: 75%;
    left: 60%;
    background-image: url(../img/pink-bg.svg);
    width: 632px;
    height: 357px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
.ins-thankyou-box::after {
    content: '';
    position: absolute;
    top: 88%;
    right: 80%;
    background-image: url(../img/blue-bg.svg);
    width: 275px;
    height: 134px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
.ins-thankyou-box .figure img {
    height: 180px;
}
.ins-thankyou-box .ins-btn {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
}